body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  .password-container {
    position: relative;
    display: inline-block;
  }
  
  input {
    padding: 10px;
    margin: 10px;
    width: 200px;
  }
  
  .toggle-password {
    position: absolute;
    top: 40%;
    right: 20px;
    cursor: pointer;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  